*{
    margin: 0;
}
.a1{
    width: 100%;
    height: 100vh;
}
.a2{
    display: flex;
    margin-top: -620px;
    gap: 100px;
    margin-left: 50px;
    color: white;
}
.a3{
    font-size: 40px;
   margin-top: -15px;
    margin-left: 40px;
}
.a4{
    margin-left: 110px;
}
.a5{
    text-align: center;
    margin-top: 250px;
    font-size: 55px;
    color: white;font-weight: bold;
}
.a6{
    width: 250px;
    height: 270px;
    background-color: rgba(240, 248, 255, 0.544);
    margin-top: 60px;
    position: absolute;
    margin-left: 100px;
    border-radius: 30px;
    
}
.a7{
    background-color: #177BA5;
    color: white;
    border: #177BA5;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 40px;

}
.a8{
   background-color: #f9f9fa05;
    color: rgb(10, 10, 10);
    border: #177BA5;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-left: 20px;  
    font-size: 20px;
}
.a9{
    position: absolute;
    width: 980px;
    height: 210px;
    background-color: rgba(240, 248, 255, 0.544);
    margin-top: 200px;
    position: absolute;
    margin-left: 100px;
    border-radius: 30px;
}
.s1{
    background-color: white;
    width: 400px;
    height: 130px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 30px;
}
.s4{
    position: absolute;
    margin-top: -40px;
    margin-left: 190px;
}
.s2{
    margin-top: -90px;
    margin-left: 50px;
    font-size: 20px;
    color: gray;

}
.s3{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 10px;
}
.s5{
    margin-left: 270px;
    font-size: 20px;
    margin-top: -50px;
}
.s6{
    margin-left: 270px;
    font-size: 20px;
    margin-top: 8px;
}
.s7{
    display: flex;
}
.s7{
    position: absolute;
    margin-left: 460px;
    margin-top: -120px;
}
.s8{
    font-size: 40px;
    margin-top: 200px;
 margin-left: 500px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 600px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.card h3 {
  margin: 12px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 13px;
  color: #555;
}

.tag {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.chill {
  background: #e6f6f3;
  color: #1ca7a0;
}

.relax {
  background: #fdeaf2;
  color: #d84a8a;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.price span {
  font-size: 12px;
  color: #777;
}

button {
  background: #1ca7a0;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #168d87;
}
